<!DOCTYPE html>
<html lang="id">
  <head>
    <!-- Basic Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Event Kesehatan</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
  </head>

  <body class="sub_page">
    <!-- Hero Section -->
    <div class="hero_area">
      <div class="hero_bg_box">
        <img src="../assets/images/hero-bg.png" alt="Health Event Background" />
      </div>

      <!-- Header Section -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.hbs">
              <span>E-Posyandu</span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.hbs">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.hbs"> Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="info-board.hbs">Info Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="health-report-staff.hbs">Health Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.hbs">Contact Us</a>
              </li>
            </ul>
              <a href="" class="nav-link user-login">Evan</a>
              <img src="../assets/images/male.png" style="height: 60px; margin: auto 12px;"/>
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header Section -->
    </div>

    <!-- Event Details Section -->
    <section class="event_details">
      <div class="container">
        <img
          src="../assets/images/event1.jpg"
          alt="E-Posyandu Event"
          class="img-fluid mt-4"
        />
        <h2>
          Seminar E-Posyandu: "Transformasi Digital dalam Pelayanan Kesehatan
          Posyandu"
        </h2>
        <p class="event_date"><strong>Tanggal:</strong> 15 Maret 2025</p>
        <p class="event_time"><strong>Waktu:</strong> 10:00 - 13:00 WIB</p>
        <p class="event_location">
          <strong>Lokasi:</strong> Posyandu RW 11 Pekojan
        </p>

        <h3>Tentang Acara</h3>
        <p>
          Posyandu adalah garda terdepan dalam pelayanan kesehatan masyarakat,
          terutama bagi ibu hamil, anak balita, dan lansia. Dalam seminar ini,
          kita akan membahas bagaimana penerapan teknologi digital dapat
          meningkatkan pelayanan kesehatan di Posyandu melalui sistem informasi
          berbasis aplikasi. Acara ini akan membahas pentingnya digitalisasi
          dalam pencatatan data kesehatan, pengelolaan stok obat, dan pemantauan
          perkembangan kesehatan warga secara lebih efisien.
        </p>
        <p>
          Para peserta akan mendapatkan wawasan tentang bagaimana e-Posyandu
          bisa membantu meningkatkan kualitas layanan kesehatan dengan
          memanfaatkan teknologi untuk pencatatan, pelaporan, dan komunikasi
          antara petugas kesehatan dan masyarakat. Kami juga akan membahas
          tantangan dalam implementasi sistem digital di tingkat desa serta
          cara-cara untuk mengatasinya.
        </p>

        <h3>Daftar Pembicara</h3>
        <ul>
          <li>
            <strong>Dr. Rina Susanti</strong> - Dokter Umum, Spesialis Kesehatan
            Masyarakat
          </li>
          <li>
            <strong>Ahmad Zulfikar</strong> - Pengembang Aplikasi Kesehatan
            Digital
          </li>
          <li>
            <strong>Dr. Maya Pratiwi</strong> - Spesialis Gizi dan Kesehatan Ibu
            dan Anak
          </li>
        </ul>

        <h3>Agenda Acara</h3>
        <ul>
          <li>
            <strong>10:00 AM - 10:30 AM:</strong> Registrasi dan Penyambutan
          </li>
          <li>
            <strong>10:30 AM - 11:15 AM:</strong> Sesi 1: Penerapan Digitalisasi
            di Posyandu oleh Dr. Rina Susanti
          </li>
          <li>
            <strong>11:15 AM - 11:45 AM:</strong> Sesi 2: Solusi Teknologi untuk
            Meningkatkan Pelayanan Posyandu oleh Ahmad Zulfikar
          </li>
          <li>
            <strong>11:45 AM - 12:30 PM:</strong> Sesi 3: Pola Makan Sehat untuk
            Ibu dan Anak oleh Dr. Maya Pratiwi
          </li>
          <li>
            <strong>12:30 PM - 01:00 PM:</strong> Sesi Tanya Jawab dan Penutupan
          </li>
        </ul>

        <h3>Informasi Tambahan</h3>
        <p>
          Seminar ini terbuka untuk seluruh masyarakat dan tenaga kesehatan yang
          ingin meningkatkan pemahaman mereka tentang digitalisasi Posyandu.
          Tempat terbatas, jadi pastikan Anda mendaftar segera. Untuk informasi
          lebih lanjut atau untuk melakukan pendaftaran, silakan hubungi kami di
          <strong>posyandu.digital@gmail.com</strong> atau kunjungi website kami
          di <a href="#">www.e-posyandu.com</a>.
        </p>
      </div>
    </section>

    <!-- End Event Details Section -->

    <!-- Footer Section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 footer_col">
            <div class="footer_contact">
              <h4>Reach at..</h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span> Location </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span> Call +01 1234567890 </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span> demo@gmail.com </span>
                </a>
              </div>
            </div>
            <div class="footer_social">
              <a
                href="https://www.facebook.com/profile.php?id=61559712908719"
                target="_blank"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
              <a
                href="https://www.instagram.com/posyandu_astra"
                target="_blank"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 footer_col">
            <div class="footer_detail">
              <h4>About</h4>
              <p>
                Kami adalah platform kesehatan yang berkomitmen untuk
                meningkatkan layanan kesehatan masyarakat. Dengan teknologi
                digital, kami membantu mempermudah akses informasi dan layanan
                kesehatan bagi semua kalangan.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 footer_col">
            <div class="footer_link_box">
              <h4>Links</h4>
              <div class="footer_links">
                <a class="" href="index.hbs"> Home </a>
                <a class="" href="about.hbs"> About </a>
                <a class="" href="info-board.hbs"> Info Board </a>
                <a class="active" href="contact.hbs"> Contact Us </a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-info"></div>
      </div>
    </footer>
    <!-- End Footer Section -->

    <!-- JavaScript Files -->
    <script type="text/javascript" src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="../assets/js/custom.js"></script>
  </body>
</html>
