<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="">

  <title> E-Posyandu </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css" />


  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />


  <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />


  <link href="../assets/css/style.css" rel="stylesheet" />

  <link href="../assets/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="../assets/images/hero-bg.png" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.hbs">
            <span>
              E-Posyandu
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.hbs">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.hbs"> Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="info-board.hbs">Info Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="health-report-staff.hbs">Health Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.hbs">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.hbs">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Kesehatan yang Utama
                    </h1>
                    <p style="text-align: justify;">
                      Kami berkomitmen untuk memberikan pelayanan kesehatan yang terbaik bagi masyarakat. 
                      Dengan tenaga medis profesional dan fasilitas yang memadai, kami siap membantu Anda dalam menjaga kesehatan. 
                      Layanan kami mencakup konsultasi kesehatan, pemeriksaan rutin, serta edukasi kesehatan untuk meningkatkan kesejahteraan Anda dan keluarga.
                    </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    
    <!-- end slider section -->
  </div>


  <!-- department section -->
  <div class="slider-container">
    <div class="slider">
      <div class="slide">
        <img
          src="https://asset.kompas.com/crops/wn7H461ukUjoP3_W-FCBzce9XL8=/167x2:1000x558/1200x800/data/photo/2019/09/27/5d8e22412e9f0.jpg"
          alt="Berita 1"
        />
        <div class="overlay">
          <h2>Pentingnya Olahraga Untuk Jantung</h2>
          <p>Rutin berolahraga dapat menurunkan risiko penyakit jantung,
            meningkatkan....</p>
        </div>
      </div>
      <div class="slide">
        <img
          src=https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-content/uploads/2022/03/08055643/Cari-Dokter-Umum-Terbaik-di-Yogyakarta_-Ini-5-Rekomendasinya.jpg.webp
          alt="Berita 2"
        />
        <div class="overlay">
          <h2>Cari Dokter Umum Terbaik di Jakarta?</h2>
          <p>Ini 5 Rekomendasinya....</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- end department section -->
  
  <!-- about section -->
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="../assets/images/pattern.png" style="object-fit: fill;" alt="">
    </div>
    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="https://sehatnegeriku.kemkes.go.id/wp-content/uploads/2023/05/cc2e52b5-d230-445b-a078-70533761c320.jpeg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Us
                </h2>
              </div>
              <p>
              Kami adalah platform kesehatan yang berkomitmen untuk meningkatkan layanan kesehatan masyarakat. 
              Dengan teknologi digital, kami membantu mempermudah akses informasi dan layanan kesehatan bagi semua kalangan.
              </p>
              <a href="about.hbs">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end about section -->

  <!-- department section -->
  
  
   <div class="slider-container" style="margin-top: 0;">
    <div class="slider">
      <div class="slide">
        <img
          src="../assets/images/posyandu1.jpeg"
          alt="Posyandu 1"
        />
      </div>
      <div class="slide">
        <img
          src="../assets/images/posyandu2.png"
          alt="Posyandu 2"
        />
      </div>
      <div class="slide">
        <img
          src="../assets/images/posyandu3.jpeg"
          alt="Posyandu 2"
        />
      </div>
    </div>
    <div class="overlay">
      <h1 style="text-align: center; font-size: 50px; font-weight: 200;">
        Gallery
      </h1>
    </div>
  </div>

  
  <!-- end department section -->



  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mx-auto footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +62 81299998888
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="https://www.facebook.com/profile.php?id=61559712908719" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.whatsapp.com/" target="_blank">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/posyandu_astra" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mx-auto footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
            Kami adalah platform kesehatan yang berkomitmen untuk meningkatkan layanan kesehatan masyarakat. 
            Dengan teknologi digital, kami membantu mempermudah akses informasi dan layanan kesehatan bagi semua kalangan.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="" href="index.hbs">
                Home
              </a>
              <a class="" href="about.hbs">
                About
              </a>
              <a class="" href="info-board.hbs">
                Info Board
              </a>

              <a class="active" href="contact.hbs">
                Contact Us
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="footer-info">

      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="../assets/js/jquery-3.4.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="../assets/js/bootstrap.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

  <script type="text/javascript" src="../assets/js/custom.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <script type="text/javascript" src="../assets/js/index.js"></script>


</body>

</html>